--- page: Home ---
<section>
    <div class="rw-bg">
    </div>
</section>

<section class="indexWork">
    <div class="project" id="introBox"><div class="focal"><a href="./about.html"><h2>Hi, I'm Charlie</h2><p class="desc">I'm a creative developer based in New York City. I love operating where development and design intersect. That - paired with the puzzle and power of design at scale - has lead me to my current work with design systems! Check out some of my recent work below.</p></a></div></div>
    <div class="project" id="encore"><div class="focal"><a target="_blank" href="https://engineering.atspotify.com/2021/04/28/customization-vs-configuration-in-evolving-design-systems/"><h2>{{index.projects.encore.title}}</h2><p class="desc">{{index.projects.encore.short}}</p></a></div></div>
    <div class="project" id="marcel"><div class="focal"><a target="_blank" href="https://marcel.ai/"><h2>{{index.projects.marcel.title}}</h2><p class="desc">{{index.projects.marcel.short}}</p></a></div></div>
    <div class="project" id="transroc"><div class="focal"><a href="./transrocspeaks.html"><h2>{{index.projects.transrocspeaks.title}}</h2><p class="desc">{{index.projects.transrocspeaks.short}}</p></a></div></div>
</section>
