--- page: Home ---
<section>
    <div class="rw-bg">
    </div>
</section>

<section class="indexWork">
    <div class="project"><h1> Let's Build the Web.<br/>Together.</h1></div>
    <div class="project" id="snowday"><div class="focal"><a href="./snowday.html"><h2>{{index.projects.snowday.title}}</h2><p class="desc">{{index.projects.snowday.short}}</p></a></div></div>
    <div class="project" id="transroc"><div class="focal"><a href="./transrocspeaks.html"><h2>{{index.projects.transrocspeaks.title}}</h2><p class="desc">{{index.projects.transrocspeaks.short}}</p></a></div></div>
    <div class="project" id="sito"><div class="focal"><a href="./sito.html"><h2>{{index.projects.sito.title}}</h2><p class="desc">{{index.projects.sito.short}}</p></a></div></div>
</section>
