--- page: Home ---
<section>
    <div class="rw-bg">
    </div>
</section>

<section class="indexWork">
    <div class="project" id="introBox"><div class="focal"><a href="./about.html"><h2>Hi, I'm Charlie</h2><p class="desc">A creative developer based in New York City. I currently work at PublicisSapient. Check out some of my recent projects below.</p></a></div></div>
    <div class="project" id="snowday"><div class="focal"><a href="./snowday.html"><h2>{{index.projects.snowday.title}}</h2><p class="desc">{{index.projects.snowday.short}}</p></a></div></div>
    <div class="project" id="gold"><div class="focal"><a href="./gold.html"><h2>{{index.projects.gold.title}}</h2><p class="desc">{{index.projects.gold.short}}</p></a></div></div>
    <div class="project" id="transroc"><div class="focal"><a href="./transrocspeaks.html"><h2>{{index.projects.transrocspeaks.title}}</h2><p class="desc">{{index.projects.transrocspeaks.short}}</p></a></div></div>
</section>
